# Vale (spell and style checker)
.vale/*
!.vale/config/
!.vale/NONE/

# Miscellaneous
.DS_Store

# Editors
.idea/
.vscode/
.helix/
.vim/
.nvim/
.emacs/
.emacs.d/

# Node.js
node_modules/

# Python
__pycache__

# Generated folders
/stats/
