# Vale (spell and style checker)
.vale/*
!.vale/config/
!.vale/NONE/

# Miscellaneous
.DS_Store
*.pem
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editors
.idea/
.vscode/
.helix/
.vim/
.nvim/
.emacs/
.emacs.d/
.zed/

# Node.js
node_modules/

# Python
__pycache__

# Environment files
.env*.local
.vercel
next-env.d.ts

# Generated folders
/stats/
.source
/coverage
/.next/
/out/
/build
*.tsbuildinfo

# Temporary folders or files for technical accuracy checks
/.ctx
/AGENTS.md
/CLAUDE.md
