*.mdx
*.md
*.png
*.jpg
*.jpeg
*.pdf
*.svg
/content/api/**/*.json
/content/api/**/*.yml
/content/api/**/*.yaml
/content/**/meta.json
/src/grammars
/scripts/sidebars
/.github/workflows
/meta-schema.json
/docs.json
/LICENSE*
