*.mdx
*.md
/content/**/api/**/*.json
/content/**/api/**/*.yml
/content/**/api/**/*.yaml
/content/**/meta.json
/public/grammars
/scripts/sidebars
/.github/workflows
/meta-schema.json
/docs.json
/LICENSE*
