# Default to the documentation team when there are no specific matches
* @ton-org/docs

##
# CI
##

/.github/ @novusnota

##
# Contributing and components
##

/contribute/ @novusnota @aigerimu

##
# AI
##

/ecosystem/ai/mcp.mdx @TrueCarry @thekiba
/ecosystem/ai/wallets.mdx @TrueCarry @thekiba

##
# TON Connect, AppKit, WalletKit
##

/ecosystem/ton-connect/ @TrueCarry @thekiba
/ecosystem/appkit/ @TrueCarry @thekiba
/ecosystem/walletkit/ @TrueCarry @thekiba
