openapi: 3.0.0
info:
  title: TON Index (Go)
  description: TON Index collects data from a full node, stores it in a PostgreSQL database, and provides an API for the indexed data.
  version: 1.2.6
  contact: {}
servers:
  - url: https://toncenter.com
  - url: https://testnet.toncenter.com
paths:
  /api/v3/accountStates:
    get:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description: Query account states that match the specified filters.
      tags:
        - Accounts
      summary: Get account states
      operationId: api_v3_get_account_states
      parameters:
        - name: address
          in: query
          description: "List of addresses in any form. Maximum: 1000 addresses."
          required: true
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: include_boc
          in: query
          description: "Include code and data BoCs. Defaults to `true`."
          schema:
            type: boolean
            default: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountStatesResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestError"
  /api/v3/actions:
    get:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description: Query actions that match the specified filters.
      tags:
        - Actions and traces
      summary: Get actions
      operationId: api_v3_get_actions
      parameters:
        - name: account
          in: query
          description: List of account addresses to query. Provide addresses in hex, base64, or base64url form.
          schema:
            type: string
        - name: tx_hash
          in: query
          description: Find actions by transaction hash.
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: msg_hash
          in: query
          description: Find actions by message hash.
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: action_id
          in: query
          description: Find actions by `action_id`.
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: trace_id
          in: query
          description: Find actions by `trace_id`.
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: mc_seqno
          in: query
          description: Query actions for traces completed in the masterchain block with the specified sequence number.
          schema:
            type: integer
            format: int32
        - name: start_utime
          in: query
          description: Query actions for traces with `trace_end_utime >= start_utime`.
          schema:
            type: integer
            format: int32
            minimum: 0
        - name: end_utime
          in: query
          description: Query actions for traces with `trace_end_utime <= end_utime`.
          schema:
            type: integer
            format: int32
            minimum: 0
        - name: start_lt
          in: query
          description: Query actions for traces with `trace_end_lt >= start_lt`.
          schema:
            type: integer
            format: int64
            minimum: 0
        - name: end_lt
          in: query
          description: Query actions for traces with `trace_end_lt <= end_lt`.
          schema:
            type: integer
            format: int64
            minimum: 0
        - name: action_type
          in: query
          description: Filter actions by type.
          explode: true
          schema:
            type: array
            items:
              enum:
                - call_contract
                - contract_deploy
                - ton_transfer
                - auction_bid
                - change_dns
                - dex_deposit_liquidity
                - dex_withdraw_liquidity
                - delete_dns
                - renew_dns
                - election_deposit
                - election_recover
                - jetton_burn
                - jetton_swap
                - jetton_transfer
                - jetton_mint
                - nft_mint
                - tick_tock
                - stake_deposit
                - stake_withdrawal
                - stake_withdrawal_request
                - subscribe
                - unsubscribe
              type: string
        - name: exclude_action_type
          in: query
          description: Exclude the specified action types.
          explode: true
          schema:
            type: array
            items:
              enum:
                - call_contract
                - contract_deploy
                - ton_transfer
                - auction_bid
                - change_dns
                - dex_deposit_liquidity
                - dex_withdraw_liquidity
                - delete_dns
                - renew_dns
                - election_deposit
                - election_recover
                - jetton_burn
                - jetton_swap
                - jetton_transfer
                - jetton_mint
                - nft_mint
                - tick_tock
                - stake_deposit
                - stake_withdrawal
                - stake_withdrawal_request
                - subscribe
                - unsubscribe
              type: string
        - name: supported_action_types
          in: query
          description: List supported action types.
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: include_accounts
          in: query
          description: Include the `accounts` array for each action in the response.
          schema:
            type: boolean
            default: false
        - name: include_transactions
          in: query
          description: Include the `transactions_full` array with detailed transaction data for each action in the response.
          schema:
            type: boolean
            default: false
        - name: limit
          in: query
          description: Limit the number of rows to return. Use with `offset` to batch requests.
          schema:
            type: integer
            format: int32
            default: 10
            minimum: 1
            maximum: 1000
        - name: offset
          in: query
          description: Skip the first N rows. Use with `limit` to batch requests.
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        - name: sort
          in: query
          description: Sort actions by `lt`.
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActionsResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestError"
  /api/v3/addressBook:
    get:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description: Query the address book for the specified addresses.
      tags:
        - Accounts
      summary: Address book
      operationId: api_v3_get_address_book
      parameters:
        - name: address
          in: query
          description: "List of addresses in any form to include in the address book. Maximum: 1024 addresses."
          required: true
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericAddressBook"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestError"
  /api/v3/addressInformation:
    get:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description: Get smart contract information for the specified account.
      tags:
        - API v2
      summary: Get address information
      operationId: api_v3_get_v2_addressInformation
      parameters:
        - name: address
          in: query
          description: Account address in any form.
          required: true
          schema:
            type: string
        - name: use_v2
          in: query
          description: Use the API v2 method. This option is not recommended.
          schema:
            type: boolean
            default: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2AddressInformation"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestError"
  /api/v3/adjacentTransactions:
    get:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description: Get the parent transaction, child transactions, or both for the specified transaction.
      tags:
        - Blockchain data
      summary: Get adjacent transactions
      operationId: api_v3_get_adjacent_transactions
      parameters:
        - name: hash
          in: query
          description: Transaction hash.
          schema:
            type: string
        - name: direction
          in: query
          description: Direction of the message relative to the transaction.
          schema:
            type: string
            enum:
              - in
              - out
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionsResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestError"
  /api/v3/blocks:
    get:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description: Return blocks that match the specified filters.
      tags:
        - Blockchain data
      summary: Get blocks
      operationId: api_v3_get_blocks
      parameters:
        - name: workchain
          in: query
          description: Workchain of the block.
          schema:
            type: integer
            format: int32
        - name: shard
          in: query
          description: "Shard ID of the block. Provide this parameter with `workchain`. Example: `8000000000000000`."
          schema:
            type: string
        - name: seqno
          in: query
          description: "Sequence number of the block. Provide this parameter with `workchain` and `shard`."
          schema:
            type: integer
            format: int32
        - name: root_hash
          in: query
          description: Root hash of the block.
          schema:
            type: string
        - name: file_hash
          in: query
          description: File hash of the block.
          schema:
            type: string
        - name: mc_seqno
          in: query
          description: Masterchain block sequence number.
          schema:
            type: integer
            format: int32
        - name: start_utime
          in: query
          description: Query blocks with a generation timestamp at or after the specified timestamp.
          schema:
            type: integer
            format: int32
            minimum: 0
        - name: end_utime
          in: query
          description: Query blocks with a generation timestamp at or before the specified timestamp.
          schema:
            type: integer
            format: int32
            minimum: 0
        - name: start_lt
          in: query
          description: Query blocks where `lt` is at or above the specified value.
          schema:
            type: integer
            format: int64
            minimum: 0
        - name: end_lt
          in: query
          description: Query blocks where `lt` is at or below the specified value.
          schema:
            type: integer
            format: int64
            minimum: 0
        - name: limit
          in: query
          description: Limit the number of rows to return. Use with `offset` to batch requests.
          schema:
            type: integer
            format: int32
            default: 10
            minimum: 1
            maximum: 1000
        - name: offset
          in: query
          description: Skip the first N rows. Use with `limit` to batch requests.
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        - name: sort
          in: query
          description: Sort blocks by generation timestamp.
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BlocksResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestError"
  /api/v3/decode:
    get:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description: >-
        Decode opcodes and message bodies. Opcodes can be in hexadecimal (with or without the `0x` prefix) or decimal
        format. Bodies can be in base64 or hexadecimal format.
      tags:
        - Utils
      summary: Decode opcodes and bodies (GET)
      operationId: api_v3_get_decode
      parameters:
        - name: opcodes
          in: query
          description: List of opcodes to decode in hexadecimal or decimal format.
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: bodies
          in: query
          description: List of message bodies to decode in base64 or hexadecimal format.
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DecodeResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestError"
    post:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description: >-
        Decode opcodes and message bodies. Opcodes can be in hexadecimal (with or without the `0x` prefix) or decimal
        format. Bodies can be in base64 or hexadecimal format. Use POST for long parameters that may be truncated in
        GET requests.
      tags:
        - Utils
      summary: Decode opcodes and bodies (POST)
      operationId: api_v3_post_decode
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DecodeRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DecodeResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestError"
  /api/v3/dns/records:
    get:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description: Query DNS records matching the specified filters. Supports `.ton` and `.t.me` records.
      tags:
        - DNS
      summary: Get DNS records
      operationId: api_v3_get_dns_records
      parameters:
        - name: wallet
          in: query
          description: Wallet address in any form. Returns DNS records in the wallet category that contain this address.
          schema:
            type: string
        - name: domain
          in: query
          description: Domain name to search for. Returns DNS records with this exact domain name.
          schema:
            type: string
        - name: limit
          in: query
          description: Limit the number of rows to return. Use with `offset` to batch requests.
          schema:
            type: integer
            format: int32
            default: 100
            minimum: 1
            maximum: 1000
        - name: offset
          in: query
          description: Skip the first N rows. Use with `limit` to batch requests.
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DNSRecordsResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestError"
  /api/v3/dns/activeAuctions:
    get:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description: >-
        Returns DNS auctions where the address is the current leading bidder.
        Use `bidding` for open auctions and `won` for ended but unclaimed
        auctions. Claimed auctions are no longer returned. Ordering for
        `bidding` and `all` can change as auctions update. Use larger limits
        when paginating. Set `include_nft_items` to include NFT details.
        NFT and collection metadata is returned separately.
      tags:
        - DNS
      summary: Get DNS auctions by bidder
      operationId: api_v3_get_dns_active_auctions
      parameters:
        - name: bidder
          in: query
          description: Address of the current leading bidder.
          required: true
          schema:
            type: string
        - name: state
          in: query
          description: Filter by auction state.
          schema:
            type: string
            default: all
            enum:
              - all
              - won
              - bidding
        - name: include_nft_items
          in: query
          description: Include NFT item details.
          schema:
            type: boolean
            default: false
        - name: after
          in: query
          description: Opaque pagination cursor from `next_cursor` of the previous page. Returns rows strictly after it and is preferred over `offset`.
          schema:
            type: string
        - name: limit
          in: query
          description: Limit the number of rows to return.
          schema:
            type: integer
            format: int32
            default: 100
            minimum: 1
            maximum: 1000
        - name: offset
          in: query
          description: Rows to skip. Do not combine this parameter with `after`.
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DNSAuctionsResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestError"
  /api/v3/estimateFee:
    post:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description:
        Estimate the fees required to process the query. The `body`, `init_code`, and `init_data` fields accept
        serialized, base64-encoded values.
      tags:
        - API v2
      summary: Estimate fee
      operationId: api_v3_post_v2_estimate_fee
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/V2EstimateFeeRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2EstimateFeeResult"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestError"
  /api/v3/jetton/burns:
    get:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description: Query jetton burns that match the specified filters.
      tags:
        - Jettons
      summary: Get jetton burns
      operationId: api_v3_get_jetton_burns
      parameters:
        - name: address
          in: query
          description: "Address of the jetton wallet owner in any form. Maximum: 1000 addresses."
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: jetton_wallet
          in: query
          description: "Jetton wallet address in any form. Maximum: 1000 addresses."
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: jetton_master
          in: query
          description: Jetton master address in any form.
          schema:
            type: string
        - name: start_utime
          in: query
          description: Query transactions with a generation timestamp at or after the specified timestamp.
          schema:
            type: integer
            format: int32
            minimum: 0
        - name: end_utime
          in: query
          description: Query transactions with a generation timestamp at or before the specified timestamp.
          schema:
            type: integer
            format: int32
            minimum: 0
        - name: start_lt
          in: query
          description: Query transactions where `lt` is at or above the specified value.
          schema:
            type: integer
            format: int64
            minimum: 0
        - name: end_lt
          in: query
          description: Query transactions where `lt` is at or below the specified value.
          schema:
            type: integer
            format: int64
            minimum: 0
        - name: limit
          in: query
          description: Limit the number of rows to return. Use with `offset` to batch requests.
          schema:
            type: integer
            format: int32
            default: 10
            minimum: 1
            maximum: 1000
        - name: offset
          in: query
          description: Skip the first N rows. Use with `limit` to batch requests.
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        - name: sort
          in: query
          description: Sort transactions by `lt`.
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JettonBurnsResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestError"
  /api/v3/jetton/masters:
    get:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description: Query jetton masters that match the specified filters.
      tags:
        - Jettons
      summary: Get jetton masters
      operationId: api_v3_get_jetton_masters
      parameters:
        - name: address
          in: query
          description: "Jetton master address in any form. Maximum: 1024 addresses."
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: admin_address
          in: query
          description: "Address of the jetton master's administrator in any form. Maximum: 1024 addresses."
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: limit
          in: query
          description: Limit the number of rows to return. Use with `offset` to batch requests.
          schema:
            type: integer
            format: int32
            default: 10
            minimum: 1
            maximum: 1000
        - name: offset
          in: query
          description: Skip the first N rows. Use with `limit` to batch requests.
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JettonMastersResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestError"
  /api/v3/jetton/transfers:
    get:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description: Query jetton transfers that match the specified filters.
      tags:
        - Jettons
      summary: Get jetton transfers
      operationId: api_v3_get_jetton_transfers
      parameters:
        - name: owner_address
          in: query
          description: "Address of the jetton wallet owner in any form. Maximum: 1000 addresses."
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: jetton_wallet
          in: query
          description: "Jetton wallet address in any form. Maximum: 1000 addresses."
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: jetton_master
          in: query
          description: Jetton master address in any form.
          schema:
            type: string
        - name: direction
          in: query
          description: Direction of the transfer. Applies only when `owner_address` is provided.
          schema:
            type: string
            enum:
              - in
              - out
        - name: start_utime
          in: query
          description: Query transactions with a generation timestamp at or after the specified timestamp.
          schema:
            type: integer
            format: int32
            minimum: 0
        - name: end_utime
          in: query
          description: Query transactions with a generation timestamp at or before the specified timestamp.
          schema:
            type: integer
            format: int32
            minimum: 0
        - name: start_lt
          in: query
          description: Query transactions where `lt` is at or above the specified value.
          schema:
            type: integer
            format: int64
            minimum: 0
        - name: end_lt
          in: query
          description: Query transactions where `lt` is at or below the specified value.
          schema:
            type: integer
            format: int64
            minimum: 0
        - name: limit
          in: query
          description: Limit the number of rows to return. Use with `offset` to batch requests.
          schema:
            type: integer
            format: int32
            default: 10
            minimum: 1
            maximum: 1000
        - name: offset
          in: query
          description: Skip the first N rows. Use with `limit` to batch requests.
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        - name: sort
          in: query
          description: Sort transactions by `lt`.
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JettonTransfersResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestError"
  /api/v3/jetton/wallets:
    get:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description: Query jetton wallets that match the specified filters.
      tags:
        - Jettons
      summary: Get jetton wallets
      operationId: api_v3_get_jetton_wallets
      parameters:
        - name: address
          in: query
          description: "Jetton wallet address in any form. Maximum: 1000 addresses."
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: owner_address
          in: query
          description: "Address of the jetton wallet owner in any form. Maximum: 1000 addresses."
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: jetton_address
          in: query
          description: Jetton master address in any form.
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: exclude_zero_balance
          in: query
          description: Exclude jetton wallets with a zero balance.
          schema:
            type: boolean
        - name: limit
          in: query
          description: Limit the number of rows to return. Use with `offset` to batch requests.
          schema:
            type: integer
            format: int32
            default: 10
            minimum: 1
            maximum: 1000
        - name: offset
          in: query
          description: Skip the first N rows. Use with `limit` to batch requests.
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        - name: sort
          in: query
          description: Sort jetton wallets by balance. Results may be inconsistent while paginating with `limit` and `offset`.
          schema:
            type: string
            enum:
              - asc
              - desc
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JettonWalletsResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestError"
  /api/v3/masterchainBlockShardState:
    get:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description: Get the shard state for a masterchain block. This endpoint is equivalent to `/api/v2/shards`.
      tags:
        - Blockchain data
      summary: Get masterchain block shard state
      operationId: api_v3_get_masterchainBlockShardState
      parameters:
        - name: seqno
          in: query
          description: Masterchain block sequence number.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionsResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestError"
  /api/v3/masterchainBlockShards:
    get:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description: Return all workchain blocks that appeared after the previous masterchain block.
      tags:
        - Blockchain data
      summary: Get masterchain block shards
      operationId: api_v3_get_masterchainBlockShards
      parameters:
        - name: seqno
          in: query
          description: Masterchain block sequence number.
          required: true
          schema:
            type: integer
            format: int32
        - name: limit
          in: query
          description: Limit the number of rows to return. Use with `offset` to batch requests.
          schema:
            type: integer
            format: int32
            default: 10
            minimum: 1
            maximum: 1000
        - name: offset
          in: query
          description: Skip the first N rows. Use with `limit` to batch requests.
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionsResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestError"
  /api/v3/masterchainInfo:
    get:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description: Return the first and last indexed blocks.
      tags:
        - Blockchain data
      summary: Get masterchain info
      operationId: api_v3_get_masterchain_info
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MasterchainInfo"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestError"
  /api/v3/message:
    post:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description: Send an external message to the TON network.
      tags:
        - API v2
      summary: Send message
      operationId: api_v3_post_v2_message
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/V2SendMessageRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2SendMessageResult"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestError"
  /api/v3/messages:
    get:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description: Query messages that match the specified filters.
      tags:
        - Blockchain data
      summary: Get messages
      operationId: api_v3_get_messages
      parameters:
        - name: msg_hash
          in: query
          description: Message hash in hex, base64, or base64url form.
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: body_hash
          in: query
          description: Hash of message body.
          schema:
            type: string
        - name: source
          in: query
          description:
            Source account address in hex, base64, or base64url form. Set this parameter to `null` to return external
            messages.
          schema:
            type: string
        - name: destination
          in: query
          description:
            Destination account address in hex, base64, or base64url form. Set this parameter to `null` to return log
            messages.
          schema:
            type: string
        - name: opcode
          in: query
          description: Opcode of message in hex or signed 32-bit decimal form.
          schema:
            type: string
        - name: start_utime
          in: query
          description: Query messages where `created_at` is at or after the specified timestamp.
          schema:
            type: integer
            format: int32
            minimum: 0
        - name: end_utime
          in: query
          description: Query messages where `created_at` is at or before the specified timestamp.
          schema:
            type: integer
            format: int32
            minimum: 0
        - name: start_lt
          in: query
          description: Query messages where `created_lt` is at or above the specified value.
          schema:
            type: integer
            format: int64
            minimum: 0
        - name: end_lt
          in: query
          description: Query messages where `created_lt` is at or below the specified value.
          schema:
            type: integer
            format: int64
            minimum: 0
        - name: direction
          in: query
          description: Direction of the message.
          schema:
            type: string
            enum:
              - in
              - out
        - name: exclude_externals
          in: query
          description: Exclude external messages.
          schema:
            type: boolean
        - name: only_externals
          in: query
          description: Return only external messages.
          schema:
            type: boolean
        - name: limit
          in: query
          description: Limit the number of rows to return. Use with `offset` to batch requests.
          schema:
            type: integer
            format: int32
            default: 10
            minimum: 1
            maximum: 1000
        - name: offset
          in: query
          description: Skip the first N rows. Use with `limit` to batch requests.
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        - name: sort
          in: query
          description: Sort messages by `lt`. To return the latest messages with `sort=desc`, set `start_lt` to `1`.
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessagesResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestError"
  /api/v3/metadata:
    get:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description: Query metadata for the specified addresses.
      tags:
        - Accounts
      summary: Metadata
      operationId: api_v3_get_metadata
      parameters:
        - name: address
          in: query
          description: "List of addresses in any form to include in the metadata response. Maximum: 1024 addresses."
          required: true
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Metadata"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestError"
  /api/v3/multisig/orders:
    get:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description: Query multisig orders that match the specified filters.
      tags:
        - Multisig
      summary: Get multisig orders
      operationId: api_v3_get_multisig_orders
      parameters:
        - name: address
          in: query
          description: "Order address in any form. Maximum: 1024 addresses."
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: multisig_address
          in: query
          description: "Address of the corresponding multisig wallet in any form. Maximum: 1024 addresses."
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: parse_actions
          in: query
          description: Parse order actions.
          schema:
            type: boolean
            default: false
        - name: limit
          in: query
          description: Limit the number of rows to return. Use with `offset` to batch requests.
          schema:
            type: integer
            format: int32
            default: 10
            minimum: 1
            maximum: 1024
        - name: offset
          in: query
          description: Skip the first N rows. Use with `limit` to batch requests.
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        - name: sort
          in: query
          description: Sort orders by `last_transaction_lt`.
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MultisigOrderResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestError"
  /api/v3/multisig/wallets:
    get:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description: Query multisig contracts that match the specified filters, optionally including their orders.
      tags:
        - Multisig
      summary: Get multisig wallets
      operationId: api_v3_get_multisig_wallets
      parameters:
        - name: address
          in: query
          description: "Multisig contract address in any form. Maximum: 1024 addresses."
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: wallet_address
          in: query
          description: "Address of a signer or proposer wallet in any form. Maximum: 1024 addresses."
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: limit
          in: query
          description: Limit the number of rows to return. Use with `offset` to batch requests.
          schema:
            type: integer
            format: int32
            default: 10
            minimum: 1
            maximum: 1024
        - name: offset
          in: query
          description: Skip the first N rows. Use with `limit` to batch requests.
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        - name: sort
          in: query
          description: Sort multisigs by `last_transaction_lt`.
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
        - name: include_orders
          in: query
          description: Include multisig orders.
          schema:
            type: boolean
            default: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MultisigResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestError"
  /api/v3/nft/collections:
    get:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description: Query NFT collections that match the specified filters.
      tags:
        - NFTs
      summary: Get NFT collections
      operationId: api_v3_get_nft_collections
      parameters:
        - name: collection_address
          in: query
          description: "Collection address in any form. Maximum: 1024 addresses."
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: owner_address
          in: query
          description: "Address of the collection owner in any form. Maximum: 1024 addresses."
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: limit
          in: query
          description: Limit the number of rows to return. Use with `offset` to batch requests.
          schema:
            type: integer
            format: int32
            default: 10
            minimum: 1
            maximum: 1000
        - name: offset
          in: query
          description: Skip the first N rows. Use with `limit` to batch requests.
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NFTCollectionsResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestError"
  /api/v3/nft/items:
    get:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description: Query NFT items that match the specified filters.
      tags:
        - NFTs
      summary: Get NFT items
      operationId: api_v3_get_nft_items
      parameters:
        - name: address
          in: query
          description: "NFT item address in any form. Maximum: 1000 addresses."
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: owner_address
          in: query
          description: "Address of the NFT item owner in any form. Maximum: 1000 addresses."
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: collection_address
          in: query
          description: Collection address in any form.
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: index
          in: query
          description: "Item index for the specified collection. Maximum: 1000 indexes."
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: include_on_sale
          in: query
          description: Include NFT items listed in sales or auctions. Applies only when `owner_address` is provided.
          schema:
            type: boolean
            default: false
        - name: sort_by_last_transaction_lt
          in: query
          description:
            Sort NFT items by `last_transaction_lt` in descending order. Results may be inconsistent while paginating
            with `limit` and `offset`.
          schema:
            type: boolean
        - name: limit
          in: query
          description: Limit the number of rows to return. Use with `offset` to batch requests.
          schema:
            type: integer
            format: int32
            default: 10
            minimum: 1
            maximum: 1000
        - name: offset
          in: query
          description: Skip the first N rows. Use with `limit` to batch requests.
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NFTItemsResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestError"
  /api/v3/nft/sales:
    get:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description: Query GetGems NFT sales and auctions by sale or auction contract address.
      tags:
        - NFTs
      summary: Get NFT sales and auctions
      operationId: api_v3_get_nft_sales
      parameters:
        - name: address
          in: query
          description: "Sale or auction contract address in any form. Maximum: 1000 addresses."
          required: true
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NFTSalesResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestError"
  /api/v3/nft/transfers:
    get:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description: Query NFT transfers that match the specified filters.
      tags:
        - NFTs
      summary: Get NFT transfers
      operationId: api_v3_get_nft_transfers
      parameters:
        - name: owner_address
          in: query
          description: "Address of the NFT owner in any form. Maximum: 1000 addresses."
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: item_address
          in: query
          description: "Address of the NFT item in any form. Maximum: 1000 addresses."
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: collection_address
          in: query
          description: Collection address in any form.
          schema:
            type: string
        - name: direction
          in: query
          description: Direction of the transfer.
          schema:
            type: string
            enum:
              - in
              - out
        - name: start_utime
          in: query
          description: Query transactions with a generation timestamp at or after the specified timestamp.
          schema:
            type: integer
            format: int32
            minimum: 0
        - name: end_utime
          in: query
          description: Query transactions with a generation timestamp at or before the specified timestamp.
          schema:
            type: integer
            format: int32
            minimum: 0
        - name: start_lt
          in: query
          description: Query transactions where `lt` is at or above the specified value.
          schema:
            type: integer
            format: int64
            minimum: 0
        - name: end_lt
          in: query
          description: Query transactions where `lt` is at or below the specified value.
          schema:
            type: integer
            format: int64
            minimum: 0
        - name: limit
          in: query
          description: Limit the number of rows to return. Use with `offset` to batch requests.
          schema:
            type: integer
            format: int32
            default: 10
            minimum: 1
            maximum: 1000
        - name: offset
          in: query
          description: Skip the first N rows. Use with `limit` to batch requests.
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        - name: sort
          in: query
          description: Sort transactions by `lt`.
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NFTTransfersResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestError"
  /api/v3/pendingActions:
    get:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description: Query pending actions that match the specified filters.
      tags:
        - Actions and traces
      summary: Get pending actions
      operationId: api_v3_get_pending_actions
      parameters:
        - name: account
          in: query
          description: List of account addresses to query. Provide addresses in hex, base64, or base64url form.
          schema:
            type: string
        - name: ext_msg_hash
          in: query
          description: Find actions by the external trace hash.
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: supported_action_types
          in: query
          description: List supported action types.
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: include_transactions
          in: query
          description: Include the `transactions_full` array with detailed transaction data for each action in the response.
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActionsResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestError"
  /api/v3/pendingTraces:
    get:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description: Query pending traces that match the specified filters.
      tags:
        - Actions and traces
      summary: Get pending traces
      operationId: api_v3_get_pending_traces
      parameters:
        - name: account
          in: query
          description: List of account addresses to query. Provide addresses in hex, base64, or base64url form.
          schema:
            type: string
        - name: ext_msg_hash
          in: query
          description: Find traces by external hash.
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TracesResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestError"
  /api/v3/pendingTransactions:
    get:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description: Query pending transactions that match the specified filters.
      tags:
        - Blockchain data
      summary: Get pending transactions
      operationId: api_v3_get_pending_transactions
      parameters:
        - name: account
          in: query
          description: List of account addresses to query. Provide addresses in hex, base64, or base64url form.
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: trace_id
          in: query
          description: Find transactions by trace ID.
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionsResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestError"
  /api/v3/runGetMethod:
    post:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description: |-
        Run a get method for a smart contract. The stack supports only `num`, `cell`, and `slice` types:
        ```
        [
        {
        "type": "num",
        "value": "0x12a"
        },
        {
        "type": "cell",
        "value": "te6..." // base64-encoded BoC with cell
        },
        {
        "type": "slice",
        "value": "te6..." // base64-encoded BoC with slice
        }
        ]
        ```
      tags:
        - API v2
      summary: Run get method
      operationId: api_v3_post_v2_rungetmethod
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/V2RunGetMethodRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2RunGetMethodRequest"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestError"
  /api/v3/staking/nominatorPools/pool:
    get:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description: Return details about the specified nominator pool.
      tags:
        - Staking
      summary: Get nominator pool
      operationId: getNominatorPool
      parameters:
        - name: pool
          in: query
          description: Pool address in any form.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NominatorPoolInfo"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IndexError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IndexError"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IndexError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IndexError"
  /api/v3/staking/nominatorPools/nominator:
    get:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description: Return the nominator's positions in all nominator pools.
      tags:
        - Staking
      summary: Get nominator positions in nominator pools
      operationId: getNominatorPoolNominator
      parameters:
        - name: nominator
          in: query
          description: Nominator address in any form.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NominatorPoolsResponse"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IndexError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IndexError"
  /api/v3/staking/nominatorPools/nominatorEvents:
    get:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description: Return events for the specified nominator pool, optionally filtered by nominator and time range.
      tags:
        - Staking
      summary: Get nominator events from nominator pools
      operationId: getNominatorPoolNominatorEvents
      parameters:
        - name: pool
          in: query
          description: Pool address in any form.
          required: true
          schema:
            type: string
        - name: nominator
          in: query
          description: Nominator address in any form.
          schema:
            type: string
        - name: start_utime
          in: query
          description: Query events with a timestamp at or after the specified timestamp.
          schema:
            type: integer
            minimum: 0
        - name: end_utime
          in: query
          description: Query events with a timestamp at or before the specified timestamp.
          schema:
            type: integer
            minimum: 0
        - name: limit
          in: query
          description: Limit the number of rows to return.
          schema:
            type: integer
            format: int32
            default: 100
            minimum: 1
            maximum: 1000
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NominatorPoolEventsResponse"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IndexError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IndexError"
  /api/v3/staking/nominatorPools/nominatorRewards:
    get:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description: Return rewards for the specified nominator in the specified nominator pool.
      tags:
        - Staking
      summary: Get nominator rewards from a nominator pool
      operationId: getNominatorPoolNominatorRewards
      parameters:
        - name: nominator
          in: query
          description: Nominator address in any form.
          required: true
          schema:
            type: string
        - name: pool
          in: query
          description: Pool address in any form.
          required: true
          schema:
            type: string
        - name: start_utime
          in: query
          description: Query rewards with a timestamp at or after the specified timestamp.
          schema:
            type: integer
            minimum: 0
        - name: end_utime
          in: query
          description: Query rewards with a timestamp at or before the specified timestamp.
          schema:
            type: integer
            minimum: 0
        - name: limit
          in: query
          description: Limit the number of rows to return.
          schema:
            type: integer
            format: int32
            default: 100
            minimum: 1
            maximum: 1000
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NominatorRewardsResponse"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IndexError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IndexError"
  /api/v3/staking/nominatorPools/validatorEvents:
    get:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description: Return validator accounting events from nominator pools, optionally filtered by validator, pool, event type, and time range.
      tags:
        - Staking
      summary: Get validator accounting events from nominator pools
      operationId: getNominatorPoolValidatorEvents
      parameters:
        - name: validator
          in: query
          description: Validator address in any form.
          schema:
            type: string
        - name: pool
          in: query
          description: Pool address in any form.
          schema:
            type: string
        - name: type
          in: query
          description: "Filter by event type: `reward`, `penalty`, `deposit`, or `withdrawal`."
          schema:
            type: string
        - name: start_utime
          in: query
          description: Query events with a timestamp at or after the specified timestamp.
          schema:
            type: integer
            minimum: 0
        - name: end_utime
          in: query
          description: Query events with a timestamp at or before the specified timestamp.
          schema:
            type: integer
            minimum: 0
        - name: limit
          in: query
          description: Limit the number of rows to return.
          schema:
            type: integer
            format: int32
            default: 100
            minimum: 1
            maximum: 1000
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NominatorPoolValidatorEventsResponse"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IndexError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IndexError"
  /api/v3/staking/nominatorPools/validatorRewards:
    get:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description: Return validator rewards from the specified nominator pool.
      tags:
        - Staking
      summary: Get validator rewards from a nominator pool
      operationId: getNominatorPoolValidatorRewards
      parameters:
        - name: validator
          in: query
          description: Validator address in any form.
          required: true
          schema:
            type: string
        - name: pool
          in: query
          description: Pool address in any form.
          required: true
          schema:
            type: string
        - name: start_utime
          in: query
          description: Query rewards with a timestamp at or after the specified timestamp.
          schema:
            type: integer
            minimum: 0
        - name: end_utime
          in: query
          description: Query rewards with a timestamp at or before the specified timestamp.
          schema:
            type: integer
            minimum: 0
        - name: limit
          in: query
          description: Limit the number of rows to return.
          schema:
            type: integer
            format: int32
            default: 100
            minimum: 1
            maximum: 1000
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NominatorPoolValidatorRewardsResponse"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IndexError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IndexError"
  /api/v3/validators/events:
    get:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description: Return validator stake acceptance, rejection, and recovery events.
      tags:
        - Validators
      summary: Get validator stake and recover events
      operationId: getValidatorEvents
      parameters:
        - name: stake_holder_address
          in: query
          description: Stakeholder address in any form.
          schema:
            type: string
        - name: adnl_address
          in: query
          description: ADNL address in hex, base64, or base64url form.
          schema:
            type: string
        - name: validator_pubkey
          in: query
          description: Validator public key in hex, base64, or base64url form.
          schema:
            type: string
        - name: type
          in: query
          description: "Filter by event type: `stake_accepted`, `stake_rejected`, or `stake_recovered`."
          schema:
            type: string
            enum:
              - stake_accepted
              - stake_rejected
              - stake_recovered
        - name: start_utime
          in: query
          description: Query events with a timestamp at or after the specified timestamp.
          schema:
            type: integer
            minimum: 0
        - name: end_utime
          in: query
          description: Query events with a timestamp at or before the specified timestamp.
          schema:
            type: integer
            minimum: 0
        - name: limit
          in: query
          description: Limit the number of rows to return.
          schema:
            type: integer
            format: int32
            default: 10
            minimum: 1
            maximum: 1000
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidatorEventsResponse"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IndexError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IndexError"
  /api/v3/validators/elections:
    get:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description: Return validator elections, optionally including matching participants.
      tags:
        - Validators
      summary: Get validator elections
      operationId: getValidatorElections
      parameters:
        - name: election_id
          in: query
          description: Election ID.
          schema:
            type: integer
        - name: stake_holder_address
          in: query
          description: Stakeholder address in any form.
          schema:
            type: string
        - name: adnl_address
          in: query
          description: ADNL address in hex, base64, or base64url form.
          schema:
            type: string
        - name: validator_pubkey
          in: query
          description: Validator public key in hex, base64, or base64url form.
          schema:
            type: string
        - name: return_participants
          in: query
          description: >-
            Return election participants. If `stake_holder_address`, `adnl_address`, or `validator_pubkey` is
            specified, return only matching participants.
          schema:
            type: boolean
            default: false
        - name: finished
          in: query
          description: Filter by the `finished` flag.
          schema:
            type: boolean
        - name: start_utime
          in: query
          description: >-
            Query elections with `election_id` at or after the specified value. This parameter filters `election_id`,
            not `elect_close`.
          schema:
            type: integer
            minimum: 0
        - name: end_utime
          in: query
          description: >-
            Query elections with `election_id` at or before the specified value. This parameter filters `election_id`,
            not `elect_close`.
          schema:
            type: integer
            minimum: 0
        - name: limit
          in: query
          description: Limit the number of rows to return. At most 100 when `return_participants` is `true`.
          schema:
            type: integer
            format: int32
            default: 10
            minimum: 1
            maximum: 1000
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidatorElectionsResponse"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IndexError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IndexError"
  /api/v3/validators/cycles:
    get:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description: >-
        `min_stake` and `max_stake` are the true stake bounds for selected validators.
        `min_stake_limit` and `max_stake_limit` are the config17 election limits.
        When the response includes validators, `max_factor` is the participant's raw declared factor (65536 = 1.0).
        The effective factor used to derive `stake` is the smaller of `max_factor` and `max_stake_factor`.
      tags:
        - Validators
      summary: Get validator cycles
      operationId: getValidatorCycles
      parameters:
        - name: cycle_start
          in: query
          description: Validator cycle start time.
          schema:
            type: integer
        - name: election_id
          in: query
          description: Elector election ID that produced the cycle.
          schema:
            type: integer
        - name: stake_holder_address
          in: query
          description: Stakeholder address in any form.
          schema:
            type: string
        - name: adnl_address
          in: query
          description: ADNL address in hex, base64, or base64url form.
          schema:
            type: string
        - name: validator_pubkey
          in: query
          description: Validator public key in hex, base64, or base64url form.
          schema:
            type: string
        - name: return_validators
          in: query
          description: >-
            Return validators in the set. If `stake_holder_address`, `adnl_address`, or `validator_pubkey` is
            specified, return only matching validators.
          schema:
            type: boolean
            default: false
        - name: start_utime
          in: query
          description: Query cycles with `cycle_start` at or after the specified timestamp.
          schema:
            type: integer
            minimum: 0
        - name: end_utime
          in: query
          description: Query cycles with `cycle_start` at or before the specified timestamp.
          schema:
            type: integer
            minimum: 0
        - name: limit
          in: query
          description: Limit the number of rows to return. At most 100 when `return_validators` is `true`.
          schema:
            type: integer
            format: int32
            default: 10
            minimum: 1
            maximum: 1000
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidatorCyclesResponse"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IndexError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IndexError"
  /api/v3/validators/complaints:
    get:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description: Return validator complaints that match the specified filters.
      tags:
        - Validators
      summary: Get validator complaints
      operationId: getValidatorComplaints
      parameters:
        - name: cycle_start
          in: query
          description: Validator cycle start time.
          schema:
            type: integer
        - name: election_id
          in: query
          description: Elector election ID.
          schema:
            type: integer
        - name: stake_holder_address
          in: query
          description: Stakeholder address in any form.
          schema:
            type: string
        - name: adnl_address
          in: query
          description: ADNL address in hex, base64, or base64url form.
          schema:
            type: string
        - name: validator_pubkey
          in: query
          description: Validator public key in hex, base64, or base64url form.
          schema:
            type: string
        - name: start_utime
          in: query
          description: Query complaints with `created_at` at or after the specified timestamp.
          schema:
            type: integer
            minimum: 0
        - name: end_utime
          in: query
          description: Query complaints with `created_at` at or before the specified timestamp.
          schema:
            type: integer
            minimum: 0
        - name: limit
          in: query
          description: Limit the number of rows to return.
          schema:
            type: integer
            format: int32
            default: 10
            minimum: 1
            maximum: 1000
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidatorComplaintsResponse"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IndexError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IndexError"
  /api/v3/topAccountsByBalance:
    get:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description: Return accounts sorted by balance in descending order.
      tags:
        - Stats
      summary: Get top accounts by balance
      operationId: api_v3_get_top_accounts_by_balance
      parameters:
        - name: limit
          in: query
          description: Limit the number of rows to return. Use with `offset` to batch requests.
          schema:
            type: integer
            format: int32
            default: 10
            minimum: 1
            maximum: 1000
        - name: offset
          in: query
          description: Skip the first N rows. Use with `limit` to batch requests.
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AccountBalance"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestError"
  /api/v3/traces:
    get:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description: Query traces that match the specified filters.
      tags:
        - Actions and traces
      summary: Get traces
      operationId: api_v3_get_traces
      parameters:
        - name: account
          in: query
          description: List of account addresses to query. Provide addresses in hex, base64, or base64url form.
          schema:
            type: string
        - name: trace_id
          in: query
          description: Find traces by trace ID.
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: tx_hash
          in: query
          description: Find traces by transaction hash.
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: msg_hash
          in: query
          description: Find traces by message hash.
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: mc_seqno
          in: query
          description: Query traces completed in the masterchain block with the specified sequence number.
          schema:
            type: integer
            format: int32
        - name: start_utime
          in: query
          description: Query traces finished at or after the specified timestamp.
          schema:
            type: integer
            format: int32
            minimum: 0
        - name: end_utime
          in: query
          description: Query traces finished at or before the specified timestamp.
          schema:
            type: integer
            format: int32
            minimum: 0
        - name: start_lt
          in: query
          description: Query traces where `end_lt` is at or above the specified value.
          schema:
            type: integer
            format: int64
            minimum: 0
        - name: end_lt
          in: query
          description: Query traces where `end_lt` is at or below the specified value.
          schema:
            type: integer
            format: int64
            minimum: 0
        - name: include_actions
          in: query
          description: Include trace actions.
          schema:
            type: boolean
            default: false
        - name: supported_action_types
          in: query
          description: List supported action types.
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: limit
          in: query
          description: Limit the number of rows to return. Use with `offset` to batch requests.
          schema:
            type: integer
            format: int32
            default: 10
            minimum: 1
            maximum: 1000
        - name: offset
          in: query
          description: Skip the first N rows. Use with `limit` to batch requests.
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        - name: sort
          in: query
          description: Sort traces by `lt`.
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TracesResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestError"
  /api/v3/transactions:
    get:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description: Query transactions that match the specified filters.
      tags:
        - Blockchain data
      summary: Get transactions
      operationId: api_v3_get_transactions
      parameters:
        - name: workchain
          in: query
          description: Workchain of the block.
          schema:
            type: integer
            format: int32
        - name: shard
          in: query
          description: "Block shard ID. Provide this parameter with `workchain`. Example: `8000000000000000`."
          schema:
            type: string
        - name: seqno
          in: query
          description: "Sequence number of the block. Provide this parameter with `workchain` and `shard`."
          schema:
            type: integer
            format: int32
        - name: mc_seqno
          in: query
          description: Masterchain block sequence number.
          schema:
            type: integer
            format: int32
        - name: account
          in: query
          description: List of account addresses for the transactions. Provide addresses in hex, base64, or base64url form.
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: exclude_account
          in: query
          description: Exclude transactions for the specified account addresses.
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: hash
          in: query
          description: Transaction hash.
          schema:
            type: string
        - name: lt
          in: query
          description: Transaction `lt`.
          schema:
            type: integer
            format: int64
        - name: start_utime
          in: query
          description: Query transactions with a generation timestamp at or after the specified timestamp.
          schema:
            type: integer
            format: int32
            minimum: 0
        - name: end_utime
          in: query
          description: Query transactions with a generation timestamp at or before the specified timestamp.
          schema:
            type: integer
            format: int32
            minimum: 0
        - name: start_lt
          in: query
          description: Query transactions where `lt` is at or above the specified value.
          schema:
            type: integer
            format: int64
            minimum: 0
        - name: end_lt
          in: query
          description: Query transactions where `lt` is at or below the specified value.
          schema:
            type: integer
            format: int64
            minimum: 0
        - name: limit
          in: query
          description: Limit the number of rows to return. Use with `offset` to batch requests.
          schema:
            type: integer
            format: int32
            default: 10
            minimum: 1
            maximum: 1000
        - name: offset
          in: query
          description: Skip the first N rows. Use with `limit` to batch requests.
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        - name: sort
          in: query
          description: Sort transactions by `lt`.
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionsResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestError"
  /api/v3/transactionsByMasterchainBlock:
    get:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description: Return transactions from the specified masterchain block and all its shards.
      tags:
        - Blockchain data
      summary: Get transactions by masterchain block
      operationId: api_v3_get_transactions_by_masterchain_block
      parameters:
        - name: seqno
          in: query
          description: Masterchain block sequence number.
          required: true
          schema:
            type: integer
            format: int32
        - name: limit
          in: query
          description: Limit the number of rows to return. Use with `offset` to batch requests.
          schema:
            type: integer
            format: int32
            default: 10
            minimum: 1
            maximum: 1000
        - name: offset
          in: query
          description: Skip the first N rows. Use with `limit` to batch requests.
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        - name: sort
          in: query
          description: Sort transactions by `lt`.
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionsResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestError"
  /api/v3/transactionsByMessage:
    get:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description: Get transactions whose inbound or outbound message has the specified hash.
      tags:
        - Blockchain data
      summary: Get transactions by message
      operationId: api_v3_get_transactions_by_message
      parameters:
        - name: msg_hash
          in: query
          description: Message hash in hex, base64, or base64url form.
          schema:
            type: string
        - name: body_hash
          in: query
          description: Hash of message body.
          schema:
            type: string
        - name: opcode
          in: query
          description: Opcode of message in hex or signed 32-bit decimal form.
          schema:
            type: string
        - name: direction
          in: query
          description: Direction of the message.
          schema:
            type: string
            enum:
              - in
              - out
        - name: limit
          in: query
          description: Limit the number of rows to return. Use with `offset` to batch requests.
          schema:
            type: integer
            format: int32
            default: 10
            minimum: 1
            maximum: 1000
        - name: offset
          in: query
          description: Skip the first N rows. Use with `limit` to batch requests.
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionsResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestError"
  /api/v3/vesting:
    get:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description: Query vesting contracts that match the specified filters.
      tags:
        - Vesting
      summary: Get vesting contracts
      operationId: api_v3_get_vesting_contracts
      parameters:
        - name: contract_address
          in: query
          description: "Vesting contract address in any form. Maximum: 1000 addresses."
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: wallet_address
          in: query
          description: "Wallet address to filter by owner or sender. Maximum: 1000 addresses."
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: check_whitelist
          in: query
          description: Check whether the wallet address is on the whitelist.
          schema:
            type: boolean
            default: false
        - name: limit
          in: query
          description: Limit the number of rows to return. Use with `offset` to batch requests.
          schema:
            type: integer
            format: int32
            default: 10
            minimum: 1
            maximum: 1000
        - name: offset
          in: query
          description: Skip the first N rows. Use with `limit` to batch requests.
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VestingContractsResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestError"
  /api/v3/walletInformation:
    get:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description: >-
        Get wallet smart contract information. Supports the following wallet versions: `v1r1`, `v1r2`, `v1r3`, `v2r1`,
        `v2r2`, `v3r1`, `v3r2`, `v4r1`, `v4r2`, `v5beta`, and `v5r1`. If the account is not a wallet, returns error code
        `409`.
      tags:
        - API v2
      summary: Get wallet information
      operationId: api_v3_get_wallet_information
      parameters:
        - name: address
          in: query
          description: Account address in any form.
          required: true
          schema:
            type: string
        - name: use_v2
          in: query
          description: Use the API v2 method. This option is not recommended.
          schema:
            type: boolean
            default: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2WalletInformation"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestError"
  /api/v3/walletStates:
    get:
      security:
        - APIKeyHeader: []
        - APIKeyQuery: []
      description: Query wallet information for the specified addresses.
      tags:
        - Accounts
      summary: Get wallet states
      operationId: api_v3_get_wallet_states
      parameters:
        - name: address
          in: query
          description: "List of addresses in any form. Maximum: 1000 addresses."
          required: true
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WalletStatesResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestError"
tags:
  - name: Accounts
    description: Information about accounts.
  - name: Actions and traces
    description: High-level actions and execution traces.
  - name: Blockchain data
    description: Blocks, transactions, and messages.
  - name: Jettons
    description: Jetton masters, wallets, transfers, and burns.
  - name: NFTs
    description: NFT collections, items, and transfers.
  - name: DNS
    description: DNS records.
  - name: Staking
    description: Nominator-pool staking and rewards.
  - name: Validators
    description: Validator events, elections, cycles, and complaints.
  - name: Multisig
    description: Multisig wallets and orders.
  - name: Stats
    description: Aggregated blockchain statistics.
  - name: Vesting
    description: Vesting contracts.
  - name: Utils
    description: Utility methods.
  - name: API v2
    description: Endpoints proxied from API v2.
components:
  schemas:
    AccountBalance:
      type: object
      properties:
        account:
          type: string
        balance:
          type: string
    AccountState:
      type: object
      properties:
        account_status:
          type: string
        balance:
          type: string
        code_boc:
          type: string
        code_hash:
          type: string
        data_boc:
          type: string
        data_hash:
          type: string
        extra_currencies:
          type: object
          additionalProperties:
            type: string
        frozen_hash:
          type: string
        hash:
          type: string
    AccountStateFull:
      type: object
      properties:
        account_state_hash:
          type: string
        address:
          type: string
        balance:
          type: string
        code_boc:
          type: string
        code_hash:
          type: string
        contract_methods:
          type: array
          items:
            type: integer
        data_boc:
          type: string
        data_hash:
          type: string
        extra_currencies:
          type: object
          additionalProperties:
            type: string
        frozen_hash:
          type: string
        interfaces:
          type: array
          items:
            type: string
        last_transaction_hash:
          type: string
        last_transaction_lt:
          type: string
          example: "0"
        status:
          type: string
        suspended:
          type: boolean
    AccountStatesResponse:
      type: object
      properties:
        accounts:
          type: array
          items:
            $ref: "#/components/schemas/AccountStateFull"
        address_book:
          $ref: "#/components/schemas/AddressBook"
        metadata:
          $ref: "#/components/schemas/Metadata"
    Action:
      type: object
      properties:
        accounts:
          type: array
          items:
            type: string
        action_id:
          type: string
        details: {}
        end_lt:
          type: string
          example: "0"
        end_utime:
          type: integer
        finality:
          $ref: "#/components/schemas/FinalityState"
        start_lt:
          type: string
          example: "0"
        start_utime:
          type: integer
        success:
          type: boolean
        trace_end_lt:
          type: string
          example: "0"
        trace_end_utime:
          type: integer
        trace_external_hash:
          type: string
        trace_external_hash_norm:
          type: string
        trace_id:
          type: string
        trace_mc_seqno_end:
          type: integer
        transactions:
          type: array
          items:
            type: string
        transactions_full:
          type: array
          items:
            $ref: "#/components/schemas/Transaction"
        type:
          type: string
    ActionPhase:
      type: object
      properties:
        action_list_hash:
          type: string
        msgs_created:
          type: integer
        no_funds:
          type: boolean
        result_arg:
          type: integer
        result_code:
          type: integer
        skipped_actions:
          type: integer
        spec_actions:
[...]
