@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';
@import 'fumadocs-openapi/css/preset.css';

:root {
  --headless-color: #0098ea;
  --ui-color: #0098ea;

  --color-fd-primary: var(--ui-color);
  --color-fd-idea: oklch(65% 0.2 145);
  --color-fd-background: #ffffff;
  --color-fd-muted: #fbfbfb;
  --color-fd-popover: #ffffff;
  --color-fd-card: #f9f9f9;
  --color-fd-secondary: #f9f9f9;
  --color-fd-accent: #f1f1f1;
}

.dark {
  --headless-color: #5cc4f7;
  --ui-color: #5cc4f7;

  --color-fd-background: #0e0b0b;
  --color-fd-muted: hsl(0, 0%, 12.9%);
  --color-fd-popover: hsl(0, 0%, 11.6%);
  --color-fd-card: hsl(0, 0%, 9.8%);
  --color-fd-secondary: hsl(0, 0%, 12.9%);
  --color-fd-accent: hsla(0, 0%, 40.9%, 30%);
}

html {
  scrollbar-gutter: stable;
}

html>body[data-scroll-locked] {
  margin-right: 0px !important;
  --removed-body-scroll-bar-size: 0px !important;
}

/* Prevent word breaks in inline code items in tables */
td>code,
td>em>code,
td>strong>code,
td>a>code {
  white-space: nowrap;
}

/* Tabular numbers for better alignment in tables */
table {
  font-variant-numeric: tabular-nums;
}

/* Fix Mermaid's Sankey diagrams for both themes */
svg[aria-roledescription="sankey"]>g.links>g.link {
  mix-blend-mode: normal !important;
}

/* Vertically cap long code blocks so they scroll instead of stretching the page. */
figure.shiki > div[role="region"] {
  max-height: 42rem;
}

/* transformerRenderIndentGuides */
pre.shiki .indent {
  display: inline-block;
  position: relative;
  left: var(--indent-offset);
}

pre.shiki .indent:empty {
  height: 1lh;
  vertical-align: bottom;
}

pre.shiki .indent::before {
  content: '';
  position: absolute;
  opacity: 0.15;
  width: 1px;
  height: 100%;
  background-color: currentColor;
}

/*
 * A little hack to apply text non-wrapping for the OpenAPI tag in browsers
 * that do not support the text-wrap property yet.
 */
.style-subsequent-openapi-tag+span {
  white-space: nowrap;
}

/* A class to hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}

/* A style to hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
