@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';
@import 'fumadocs-openapi/css/preset.css';

:root {
  --headless-color: #0098ea;
  --ui-color: #0098ea;
  --color-fd-background: #ffffff;
  --color-fd-muted: #fbfbfb;
  --color-fd-popover: #ffffff;
  --color-fd-card: #f9f9f9;
  --color-fd-secondary: #f9f9f9;
  --color-fd-accent: #f1f1f1;
  --color-fd-idea: oklch(65% 0.2 145);
}

.dark {
  --color-fd-background: #0e0b0b;
  --color-fd-muted: hsl(0, 0%, 12.9%);
  --color-fd-popover: hsl(0, 0%, 11.6%);
  --color-fd-card: hsl(0, 0%, 9.8%);
  --color-fd-secondary: hsl(0, 0%, 12.9%);
  --color-fd-accent: hsla(0, 0%, 40.9%, 30%);
}

html {
  scrollbar-gutter: stable;
}

html>body[data-scroll-locked] {
  margin-right: 0px !important;
  --removed-body-scroll-bar-size: 0px !important;
}

/*
 * A little hack to apply text non-wrapping for the OpenAPI tag in browsers
 * that do not support the text-wrap property yet.
 */
.style-subsequent-openapi-tag+span {
  white-space: nowrap;
}
